* {
    margin: 0;
    padding: 0;
}

html, body, #root, #container {
    height: 100%;
}

.aim {
    position: absolute;
    /* top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%; */
    /* transform: translate3d(-50%, -50%, 0);
    border: 2px solid white;
    z-index: 2; */
    z-index: 1000;
}

.ai{
    border: none;
    height: 57px;
    width: 127px;
    color: rgba(224, 121, 19, .8);
    cursor: pointer;
    background-color: transparent;
}

#container{

    z-index: 10000;
}

##jaas-container{
    z-index: -2;
}